.charImage, .enemyImages, .defenderImage {
    width: 180px;
    height: 100px;
    /* padding: 10px; */
    margin-left: 45px;
}

.charText, .defenderText, #gameMessageText, .charHealthPoints, .enemyHealthPoints, .defenderHealthPoints {
    font-size : 20px;
}



.sectionHeadings {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
    color: white;
}



